.canvasMap {
  width: 400px;
  height: 500px;
}

.markerIcons {
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
}

.trackColorChanger {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.label {
  font-size: 20px;
}
